@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
}

#fade{
    background-color: rgba(0, 0, 0, 0.6);
}

#modal{
    width: 500px;
    max-width: 90%;
}

.hide{
    opacity: 0;
}

#fade.modal{
    pointer-events: all;
}

#modal.hide{
    left:0%;
}

#shopping-cart{
    display: none;
}

#shopping-cart.active{
    display: block;
}

@media(min-width:298px){
    .btn-alert{
        margin-top: 6.2rem;
    }
}
@media(min-width:374px){
    .btn-alert{
        margin-top: 5.1rem;
    }
}
@media(min-width:412px){
    .btn-alert{
        margin-top: 4.1rem;
    }
}
@media(min-width:448px){
    .btn-alert{
        margin-top: 2.7rem;
    }
}